.title{
    color: black;
    font-size: 12em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 22%;
}
.subtitle{
    color: black;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 45%;
}