.tabella{
    margin-left: 30%;
    margin-top: 10%;
    font-family: sans-serif;    
}
.tabletitle{
    background-color: rgb(253, 123, 123);
    font-weight: bold;
}
.maron{
    background-color: rgb(255, 215, 169);
}
a{
    text-decoration: none;
    color: black;
}