<html>
  <head>
 
  </head>
  <body>
      
    <div class="area"><nav class="main-menu">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="magazzino">
                        <i class="fa fa-archive fa-2x" aria-hidden="true"></i>
                        <span class="nav-text">
                           Magazzino
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="articoli">
                       <i class="fa fa-folder-open fa-2x" aria-hidden="true"></i>
                        <span class="nav-text">
                            Articoli
                        </span>
                    </a>
                    
                </li>
                
                <li>
                    <a href="spedizioni">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Spedizioni
                        </span>
                    </a>
                </li>
          
            </ul>

            
        </nav>
        </div>
        
<router-outlet></router-outlet>

  </body>
    </html>